---
interface Props {
  text: string;
  class?: string;
}

const { text, class: className } = Astro.props;
---

<h2 class={`text-xl border-t-[2px] border-t-primary py-3 border-b-[1px] border-b-secondary/30 ${className}`}>{text}</h1>
